# --- Shared Database Config --- #
POSTGRES_USER=moviesearch_user
POSTGRES_PASSWORD=changeme123
POSTGRES_DB=moviesearch_db
DATABASE_HOST=postgres
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}


# --- NestJS Config --- #
AI_SERVICE_URL=http://backend-python:8000
JWT_SECRET=9f29590b32d65e7584ec517001ed5db177741a454dc8bdc6ee6851422856ef45b5a8c58d79a72fd5633a561d575e1ad1e6628517833d7db6701ab87ba2342a7c
JWT_EXPIRES_IN=1h

# -- Google Oauth --- # 
GOOGLE_CLIENT_ID=632652114585-o6ms0h41jk573bcgqitj89is0553pebq.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# -- Github Oauth --- # 
GITHUB_CLIENT_ID=Ov23li1ucbhd9TZj86vS
GITHUB_CLIENT_SECRET=f2082f3bc00e745988a3d1390124d687e75935f2
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback



# --- Python Config --- #
MODEL_NAME=all-MiniLM-L6-v2


# --- Frontend config --- #
VITE_API_URL=http://localhost:3000
