# --- VAULT CONFIG --- #
VAULT_ADDR=http://vault:8200

# --- Shared Database Config --- #
POSTGRES_USER=moviesearch_user
POSTGRES_DB=moviesearch_db
DATABASE_HOST=postgres

# --- NestJS Config --- #
AI_SERVICE_URL=http://backend-python:8000
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

# -- Google Oauth --- #
GOOGLE_CLIENT_ID=632652114585-o6ms0h41jk573bcgqitj89is0553pebq.apps.googleusercontent.com
GOOGLE_CALLBACK_URL=https://localhost/api/auth/google/callback

# -- Github Oauth --- #
GITHUB_CLIENT_ID=Ov23li1ucbhd9TZj86vS
GITHUB_CALLBACK_URL=https://localhost/api/auth/github/callback

# --- Python Config --- #
MODEL_NAME=all-MiniLM-L6-v2

# --- Frontend config --- #
VITE_API_URL=https://localhost/api

# --- MONGODB --- #
MONGO_DB_NAME=chatDB
MONGO_ROOT_USERNAME=movieAdmin

# --- SMTP Config --- #
SMTP_HOST=mail.gagabuilds.com
SMTP_PORT=465
SMTP_USER=no-reply@gagabuilds.com