# --- Shared Database Config --- #
POSTGRES_USER=moviesearch_user
POSTGRES_PASSWORD=changeme123
POSTGRES_DB=moviesearch_db
DATABASE_HOST=postgres
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}


# --- NestJS Config --- #
AI_SERVICE_URL=http://backend-python:8000

# --- Python Config --- #
MODEL_NAME=all-MiniLM-L6-v2


# --- Frontend config --- #
VITE_API_URL = http://localhost:3000
